Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2020-04, with the labels that each got.

#357 don't remove CRDs when their comonents are gone
  pkg/controller/networkaddonsconfig/networkaddonsconfig_controller.go
  pkg/network/network.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#358 Allow removal of components and drop ownership of CRDs
  pkg/apply/apply.go
  pkg/controller/networkaddonsconfig/networkaddonsconfig_controller.go
  pkg/network/kubemacpool.go
  pkg/network/kubemacpool_test.go
  pkg/network/linux-bridge.go
  pkg/network/linux-bridge_test.go
  pkg/network/multus.go
  pkg/network/multus_test.go
  pkg/network/network.go
  pkg/network/nmstate.go
  pkg/network/nmstate_test.go
  pkg/network/ovs.go
  pkg/network/ovs_test.go
  test/e2e/workflow/validation_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL

#359 Bump knmstate to v0.15.5
  components.yaml
  data/nmstate/003-operator.yaml
  pkg/components/components.go
  test/releases/0.28.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#362 Release 0.27.7
  Makefile
  README.md
  manifests/cluster-network-addons/0.27.7/cluster-network-addons-operator.0.27.7.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.27.7/namespace.yaml
  manifests/cluster-network-addons/0.27.7/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.27.7/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.27.7/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.27.7.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL

#364 bump kubernetes-nmstate to 0.18.0
  components.yaml
  data/nmstate/000-ns.yaml
  data/nmstate/001-rbac.yaml
  data/nmstate/003-operator.yaml
  pkg/components/components.go
  pkg/network/nmstate.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/L

#365 Release 0.33.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.33.0/cluster-network-addons-operator.0.33.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.33.0/namespace.yaml
  manifests/cluster-network-addons/0.33.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.33.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.33.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.33.0.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL

#366 clone components instead of go get
  hack/components.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#367 move component helpers into functions
  hack/components.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M

#369 knmstate: fix Namespace variable in templates
  data/nmstate/001-rbac.yaml
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/XS

#370 Release 0.34.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.34.0/cluster-network-addons-operator.0.34.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.34.0/namespace.yaml
  manifests/cluster-network-addons/0.34.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.34.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.34.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.34.0.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL

#368 Bump macvtap-cni to 0.2.0
  components.yaml
  data/macvtap/002-macvtap-daemonset.yaml
  pkg/components/components.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XS

#371 bump kubernetes-nmstate to 0.19.0
  components.yaml
  data/nmstate/001-rbac.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: dco-signoff: yes, do-not-merge/release-note-label-needed, size/S

#372 Release 0.35.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.35.0/cluster-network-addons-operator.0.35.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.35.0/namespace.yaml
  manifests/cluster-network-addons/0.35.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.35.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.35.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.35.0.go
  version/description
  version/version.go
Labels: dco-signoff: yes, release-note-none, size/XL

#373 add JSONSchema type to the root of our CRD
  pkg/components/components.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#374 Release 0.35.1
  Makefile
  README.md
  manifests/cluster-network-addons/0.35.1/cluster-network-addons-operator.0.35.1.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.35.1/namespace.yaml
  manifests/cluster-network-addons/0.35.1/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.35.1/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.35.1/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.35.1.go
  version/description
  version/version.go
Labels: dco-signoff: yes, release-note-none, size/XL
