Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2020-06, with the labels that each got.

#407 bump linux-bridge to 0.8.6
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XS

#411 Bump NetworkManager to 1.22 so we can test knmstate
  cluster/up.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#413 remove over privileged rbac from cnao manifest
  pkg/components/components.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#405 bump ovs-cni 0.12.0
  components.yaml
  data/ovs/002-ovs-daemonset.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#414 bump kubemacpool 0.14.1
  components.yaml
  data/kubemacpool/kubemacpool.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#416 Revert "remove over privileged rbac from cnao manifest"
  pkg/components/components.go
Labels: dco-signoff: yes, do-not-merge/release-note-label-needed, size/S

#418 Bumping kubemacpool to v0.14.2
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XS

#417 Fix false positive on the CI and missed bugs
  hack/functest.sh
  test/e2e/workflow/validation_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#420 bump bridge marker to 0.3.0
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XS

#419 Fix rbac in CNAO's manifest
  pkg/components/components.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/L

#427 drop knmstate webhook
  data/nmstate/003-operator.yaml
  test/check/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/L

#423 bump kubemacpool to v0.14.4
  components.yaml
  data/kubemacpool/kubemacpool.yaml
  pkg/components/components.go
  pkg/controller/statusmanager/status_manager.go
  test/check/check.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#428 merge some upgrade tests
  test/e2e/lifecycle/upgrade_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#432 Revert "Fix rbac in CNAO's manifest (#419)"
  pkg/components/components.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/L

#435 Release 0.39.1
  Makefile
  manifests/cluster-network-addons/0.39.1/cluster-network-addons-operator.0.39.1.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.39.1/namespace.yaml
  manifests/cluster-network-addons/0.39.1/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.39.1/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.39.1/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.39.1.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XL

#437 bump kubemacpool to v0.14.5
  components.yaml
  data/kubemacpool/kubemacpool.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#438 [release-0.39] bump kubemacpool to v0.14.5
  components.yaml
  data/kubemacpool/kubemacpool.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#441 Release 0.39.2
  Makefile
  manifests/cluster-network-addons/0.39.2/cluster-network-addons-operator.0.39.2.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.39.2/namespace.yaml
  manifests/cluster-network-addons/0.39.2/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.39.2/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.39.2/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.39.2.go
  version/description
  version/version.go
Labels: dco-signoff: yes, release-note-none, size/XL

#443 Disable ginkgo colors at CI run
  automation/check-patch.e2e-lifecycle-k8s.sh
  automation/check-patch.e2e-workflow-k8s.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#412 Automatize knmstate
  components.yaml
  data/nmstate/002-crd.yaml
  data/nmstate/003-operator.yaml
  data/nmstate/namespace.yaml
  data/nmstate/nmstate.io_nodenetworkconfigurationenactments_crd.yaml
  data/nmstate/nmstate.io_nodenetworkconfigurationpolicies_crd.yaml
  data/nmstate/nmstate.io_nodenetworkstates_crd.yaml
  data/nmstate/operator.yaml
  data/nmstate/role.yaml
  data/nmstate/role_binding.yaml
  data/nmstate/service_account.yaml
  hack/components.sh
  pkg/components/components.go
  test/check/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL
