Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2020-02, with the labels that each got.

#286 set max length for version string
  pkg/components/components.go
Labels: dco-signoff: yes, lgtm, release-note-none, size/XS

#288 replace : in version name with _
  pkg/components/components.go
Labels: dco-signoff: yes, do-not-merge/release-note-label-needed, lgtm, size/XS

#290 Release 0.26.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.26.0/cluster-network-addons-operator.0.26.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.26.0/namespace.yaml
  manifests/cluster-network-addons/0.26.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.26.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.26.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.27.0.go
Labels: dco-signoff: yes, do-not-merge/release-note-label-needed, size/XL

#289 Bump k-nmstate version to v0.14.0
  components.yaml
  data/nmstate/003-operator.yaml
  pkg/components/components.go
  pkg/controller/statusmanager/status_manager.go
  test/check/check.go
  test/check/components.go
  test/releases/0.27.0.go
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/L

#293 bump knmstate to 0.15.0
  components.yaml
  data/nmstate/002-crd.yaml
  data/nmstate/003-operator.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#294 pin kubemacpool to v0.8.1
  components.yaml
  pkg/components/components.go
  test/releases/0.27.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#295 Release 0.27.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.27.0/cluster-network-addons-operator.0.27.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.27.0/namespace.yaml
  manifests/cluster-network-addons/0.27.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.27.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.27.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.28.0.go
Labels: dco-signoff: yes, release-note-none, size/XL

#296 knmstate: Add missing rbac for webhook
  data/nmstate/001-rbac.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#298 bump ovs to v0.10.0
  components.yaml
  pkg/components/components.go
  test/releases/0.28.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#301 Bump knmstate to v0.15.1
  components.yaml
  data/nmstate/003-operator.yaml
  pkg/components/components.go
  test/releases/0.28.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#302 Release 0.27.1
  Makefile
  README.md
  manifests/cluster-network-addons/0.27.1/cluster-network-addons-operator.0.27.1.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.27.1/namespace.yaml
  manifests/cluster-network-addons/0.27.1/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.27.1/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.27.1/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.27.1.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL

#304 Fix ocp make cluster-sync
  cluster/operator-push.sh
  cluster/up.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#303 Add make bump-kubevirtci target
  Makefile
  hack/bump-kubevirtci.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#305 Bump knmstate to 0.15.3
  components.yaml
  data/nmstate/003-operator.yaml
  pkg/components/components.go
  test/releases/0.28.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#306 bump kubemacpool to 0.8.2
  components.yaml
  data/kubemacpool/kubemacpool.yaml
  pkg/components/components.go
  test/releases/0.28.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#307 bump kubemacpool to 0.8.2
  components.yaml
  data/kubemacpool/kubemacpool.yaml
  pkg/components/components.go
  test/releases/0.28.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#308 Release 0.27.2
  Makefile
  README.md
  manifests/cluster-network-addons/0.27.2/cluster-network-addons-operator.0.27.2.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.27.2/namespace.yaml
  manifests/cluster-network-addons/0.27.2/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.27.2/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.27.2/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.27.2.go
Labels: dco-signoff: yes, release-note-none, size/XL

#309 expose knmstate object status
  data/nmstate/002-crd.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#312 Release 0.27.3
  Makefile
  README.md
  manifests/cluster-network-addons/0.27.3/cluster-network-addons-operator.0.27.3.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.27.3/namespace.yaml
  manifests/cluster-network-addons/0.27.3/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.27.3/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.27.3/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.27.3.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL

#287 Support a component deprovision
  pkg/apply/apply.go
  pkg/controller/networkaddonsconfig/networkaddonsconfig_controller.go
  pkg/network/kubemacpool.go
  pkg/network/kubemacpool_test.go
  pkg/network/linux-bridge.go
  pkg/network/linux-bridge_test.go
  pkg/network/multus.go
  pkg/network/multus_test.go
  pkg/network/network.go
  pkg/network/nmstate.go
  pkg/network/nmstate_test.go
  pkg/network/ovs.go
  pkg/network/ovs_test.go
  test/e2e/workflow/validation_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL

#316 drop knmstate webhook
  data/nmstate/003-operator.yaml
Labels: dco-signoff: yes, release-note-none, size/L

#317 drop knmstate webhook
  data/nmstate/003-operator.yaml
Labels: dco-signoff: yes, release-note-none, size/L

#318 Release 0.27.4
  Makefile
  README.md
  manifests/cluster-network-addons/0.27.4/cluster-network-addons-operator.0.27.4.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.27.4/namespace.yaml
  manifests/cluster-network-addons/0.27.4/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.27.4/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.27.4/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.27.4.go
Labels: dco-signoff: yes, release-note-none, size/XL
