Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2020-03, with the labels that each got.

#320 don't fail the test if we fail to list all objects
  test/check/check.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#321 self-heal by re-reconciling
  pkg/controller/networkaddonsconfig/networkaddonsconfig_controller.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#291 rename multus daemon set in variable namespace
  pkg/network/multus.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#323 disable knmstate webhook
  data/nmstate/003-operator.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#325 add prepare-release scripts
  Makefile
  README.md
  hack/bump-version.sh
  hack/prepare-release.sh
  hack/release.sh
  hack/version.sh
  test/releases/99.0.0.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/L

#329 Release 0.28.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.28.0/cluster-network-addons-operator.0.28.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.28.0/namespace.yaml
  manifests/cluster-network-addons/0.28.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.28.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.28.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.28.0.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL

#330 automate GitHub releasing
  Gopkg.lock
  Gopkg.toml
  Makefile
  automation/release.sh
  hack/release.sh
  vendor/github.com/aktau/github-release/LICENSE
  vendor/github.com/aktau/github-release/assets.go
  vendor/github.com/aktau/github-release/cmd.go
  vendor/github.com/aktau/github-release/commit.go
  vendor/github.com/aktau/github-release/error.go
  vendor/github.com/aktau/github-release/github-release.go
  vendor/github.com/aktau/github-release/github/debug.go
  vendor/github.com/aktau/github-release/github/file.go
  vendor/github.com/aktau/github-release/github/github.go
  vendor/github.com/aktau/github-release/releases.go
  vendor/github.com/aktau/github-release/tags.go
  vendor/github.com/aktau/github-release/term.go
  vendor/github.com/aktau/github-release/util.go
  vendor/github.com/aktau/github-release/version.go
  vendor/github.com/dustin/go-humanize/LICENSE
  vendor/github.com/dustin/go-humanize/big.go
  vendor/github.com/dustin/go-humanize/bigbytes.go
  vendor/github.com/dustin/go-humanize/bytes.go
  vendor/github.com/dustin/go-humanize/comma.go
  vendor/github.com/dustin/go-humanize/commaf.go
  vendor/github.com/dustin/go-humanize/ftoa.go
  vendor/github.com/dustin/go-humanize/humanize.go
  vendor/github.com/dustin/go-humanize/number.go
  vendor/github.com/dustin/go-humanize/ordinals.go
  vendor/github.com/dustin/go-humanize/si.go
  vendor/github.com/dustin/go-humanize/times.go
  vendor/github.com/tomnomnom/linkheader/LICENSE
  vendor/github.com/tomnomnom/linkheader/main.go
  vendor/github.com/voxelbrain/goptions/CONTRIBUTORS.md
  vendor/github.com/voxelbrain/goptions/LICENSE.txt
  vendor/github.com/voxelbrain/goptions/flag.go
  vendor/github.com/voxelbrain/goptions/flagset.go
  vendor/github.com/voxelbrain/goptions/goptions.go
  vendor/github.com/voxelbrain/goptions/helpfunc.go
  vendor/github.com/voxelbrain/goptions/marshaler.go
  vendor/github.com/voxelbrain/goptions/mutexgroup.go
  vendor/github.com/voxelbrain/goptions/options.go
  vendor/github.com/voxelbrain/goptions/special_types.go
  vendor/github.com/voxelbrain/goptions/tagparser.go
  vendor/github.com/voxelbrain/goptions/valueparser.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XXL

#331 Release 0.29.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.29.0/cluster-network-addons-operator.0.29.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.29.0/namespace.yaml
  manifests/cluster-network-addons/0.29.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.29.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.29.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.29.0.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL

#333 fix automated release
  automation/check-patch.e2e-lifecycle-k8s.sh
  automation/check-patch.e2e-lifecycle-okd.sh
  automation/check-patch.e2e-workflow-k8s.sh
  automation/check-patch.e2e-workflow-okd.sh
  automation/check-patch.setup.sh
  version/version.go
Labels: dco-signoff: yes, release-note-none, size/S

#334 fix release target in the makefile
  Makefile
  version/version.go
Labels: dco-signoff: yes, release-note-none, size/XS

#335 include .git while copying to TMP_PROJECT_PATH
  automation/check-patch.setup.sh
Labels: dco-signoff: yes, release-note-none, size/XS

#336 Add cniVersion to multus CNI
  data/multus/002-multus.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#337 Release 0.30.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.30.0/cluster-network-addons-operator.0.30.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.30.0/namespace.yaml
  manifests/cluster-network-addons/0.30.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.30.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.30.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.30.0.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL

#338 limit versions tested in lifecycle lane
  Gopkg.lock
  automation/check-patch.e2e-lifecycle-k8s.sh
  test/releases/releases.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M

#340 bump ovs cni to 0.11.0
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#339 bump knmstate to 0.17.0
  components.yaml
  data/nmstate/003-operator.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/L

#341 Release 0.31.0
  Makefile
  README.md
  automation/check-patch.e2e-lifecycle-k8s.sh
  manifests/cluster-network-addons/0.31.0/cluster-network-addons-operator.0.31.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.31.0/namespace.yaml
  manifests/cluster-network-addons/0.31.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.31.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.31.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.31.0.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL

#342 drop limitations of resources
  data/linux-bridge/0004-bridge-marker-daemonset.yaml
  data/linux-bridge/002-linux-bridge.yaml
  data/multus/002-multus.yaml
  data/nmstate/003-operator.yaml
  data/ovs/002-ovs-daemonset.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#345 bump kubemacpool to 0.8.3
  components.yaml
  data/kubemacpool/kubemacpool.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#344 [release-0.27] bump kubemacpool to 0.8.3
  components.yaml
  data/kubemacpool/kubemacpool.yaml
  pkg/components/components.go
  test/releases/0.28.0.go
Labels: approved, dco-signoff: yes, release-note-none, size/XS

#347 Release 0.27.5
  Makefile
  README.md
  manifests/cluster-network-addons/0.27.5/cluster-network-addons-operator.0.27.5.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.27.5/namespace.yaml
  manifests/cluster-network-addons/0.27.5/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.27.5/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.27.5/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.27.5.go
Labels: dco-signoff: yes, release-note-none, size/XL

#346 Integrate macvtap cni
  Makefile
  README.md
  data/macvtap/000-ns.yaml
  data/macvtap/001-rbac.yaml
  data/macvtap/002-macvtap-daemonset.yaml
  pkg/apis/networkaddonsoperator/v1alpha1/networkaddonsconfig_types.go
  pkg/apis/networkaddonsoperator/v1alpha1/zz_generated.deepcopy.go
  pkg/components/components.go
  pkg/network/macvtap.go
  pkg/network/network.go
  templates/cluster-network-addons/VERSION/cluster-network-addons-operator.VERSION.clusterserviceversion.yaml.in
  test/check/components.go
  test/e2e/workflow/deployment_test.go
  test/e2e/workflow/validation_test.go
  tools/manifest-templator/manifest-templator.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#352 Bump multus to 3.4.1
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#353 Release 0.32.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.32.0/cluster-network-addons-operator.0.32.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.32.0/namespace.yaml
  manifests/cluster-network-addons/0.32.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.32.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.32.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.32.0.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, do-not-merge/release-note-label-needed, lgtm, size/XL

#348 Make components macvtap
  components.yaml
  hack/components.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M

#349 drop stdci .mounts and .packages
  automation/check-patch.e2e-lifecycle-k8s.mounts
  automation/check-patch.e2e-lifecycle-k8s.packages
  automation/check-patch.e2e-lifecycle-okd.mounts
  automation/check-patch.e2e-lifecycle-okd.packages
  automation/check-patch.e2e-workflow-k8s.mounts
  automation/check-patch.e2e-workflow-k8s.packages
  automation/check-patch.e2e-workflow-okd.mounts
  automation/check-patch.e2e-workflow-okd.packages
  automation/check-patch.e2e.mounts
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#351 tests: try to catch progressing state more reliably
  test/e2e/workflow/deployment_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#354 bump knmstate to 0.15.4
  components.yaml
  pkg/components/components.go
  test/check/check.go
  test/releases/0.28.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#355 Release 0.27.6
  Makefile
  README.md
  manifests/cluster-network-addons/0.27.6/cluster-network-addons-operator.0.27.6.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.27.6/namespace.yaml
  manifests/cluster-network-addons/0.27.6/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.27.6/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.27.6/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.27.6.go
Labels: dco-signoff: yes, do-not-merge/release-note-label-needed, size/XL
