Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2021-05, with the labels that each got.

#836 auto-bumper, Set components to follow stable branches
  components.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#835 auto-bumper, Add new stable branch release-0.53 workflow
  .github/workflows/component-bumper-release-0.53.yml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M

#838 bump kubemacpool to v0.26.1
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#841 Release 0.54.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.54.0/cluster-network-addons-operator.0.54.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.54.0/namespace.yaml
  manifests/cluster-network-addons/0.54.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.54.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.54.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.54.0.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XXL

#840 Release 0.53.1
  Makefile
  README.md
  manifests/cluster-network-addons/0.53.1/cluster-network-addons-operator.0.53.1.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.53.1/namespace.yaml
  manifests/cluster-network-addons/0.53.1/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.53.1/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.53.1/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.53.1.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XXL

#837 auto-bumper, set release-0.53 workflow to hourly
  .github/workflows/component-bumper-release-0.53.yml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#815 Migrate NMState to use kubernetes-nmstate-operator if available
  .gitignore
  data/nmstate/operand/namespace.yaml
  data/nmstate/operand/nmstate.io_nodenetworkconfigurationenactments.yaml
  data/nmstate/operand/nmstate.io_nodenetworkconfigurationpolicies.yaml
  data/nmstate/operand/nmstate.io_nodenetworkstates.yaml
  data/nmstate/operand/operator.yaml
  data/nmstate/operand/role.yaml
  data/nmstate/operand/role_binding.yaml
  data/nmstate/operand/scc.yaml
  data/nmstate/operand/service_account.yaml
  data/nmstate/operator/nmstate.io_v1beta1_nmstate_cr.yaml
  hack/components/bump-nmstate.sh
  pkg/controller/networkaddonsconfig/networkaddonsconfig_controller.go
  pkg/network/cluster-info.go
  pkg/network/network.go
  pkg/network/nmstate.go
  test/check/check.go
  test/check/components.go
  test/e2e/workflow/deployment_test.go
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note, size/L

#843 Use new default knmstate branch 'main'
  components.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#845 macvtap-cni: update repo main branch
  components.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#844 Change OVS CNI source to NPWG org
  components.yaml
  tools/bumper/parser_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#848 [release 0.44] macvtap-cni, update repo main branch
  components.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#850 [release-0.42] automation, add missing unit-test script
  automation/check-patch.unit-test.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#849 [release-0.42] macvtap-cni, update repo main branch
  components.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#851 [release-0.53] Update knmstate main branch
  components.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#853 [release-0.42] components, Change kubemacpool to follow stable branch
  components.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#857 [release-0.42] kubemacpool, bump kubemacpool to v0.20.2-1-gf6c5fc0d
  components.yaml
  data/kubemacpool/kubemacpool.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#861 Release 0.42.5
  Makefile
  manifests/cluster-network-addons/0.42.5/cluster-network-addons-operator.0.42.5.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.42.5/namespace.yaml
  manifests/cluster-network-addons/0.42.5/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.42.5/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.42.5/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.42.5.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XL

#862 Release 0.44.4
  Makefile
  README.md
  manifests/cluster-network-addons/0.44.4/cluster-network-addons-operator.0.44.4.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.44.4/namespace.yaml
  manifests/cluster-network-addons/0.44.4/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.44.4/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.44.4/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.44.4.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XXL
