Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2021-08, with the labels that each got.

#948 Fix installation of bridge and tuning CNIs
  data/linux-bridge/002-linux-bridge.yaml
  hack/components/bump-linux-bridge.sh
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#950 data/linux-bridge, Fix copying over symlink
  data/linux-bridge/002-linux-bridge.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XS

#928 Add alerts infra and basic alert CnaoDown
  Makefile
  cluster/up.sh
  cmd/manager/main.go
  data/monitoring/prom-rule.yaml
  data/monitoring/rbac.yaml
  data/monitoring/service.yaml
  data/monitoring/service_monitor.yaml
  go.mod
  hack/components/yaml-utils.sh
  hack/prom-rule-ci/prom-rules-tests.yaml
  hack/prom-rule-ci/verify-rules.sh
  pkg/components/components.go
  pkg/controller/networkaddonsconfig/networkaddonsconfig_controller.go
  pkg/monitoring/metrics.go
  pkg/names/names.go
  pkg/network/cluster-info.go
  pkg/network/network.go
  templates/cluster-network-addons/VERSION/namespace.yaml.in
  test/check/check.go
  test/check/components.go
  test/e2e/lifecycle/main_test.go
  test/e2e/workflow/deployment_test.go
  test/e2e/workflow/main_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL

#945 components: Consume CNI Bridge with macspoofchk support
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#944 Add kubevirt_cnao_cr_ready metric and NetworkAddonsConfigNotReady alert
  data/monitoring/prom-rule.yaml
  go.mod
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/controller/statusmanager/status_manager.go
  pkg/monitoring/metrics.go
  test/check/check.go
  test/e2e/workflow/deployment_test.go
Labels: size/L, release-note-none, dco-signoff: yes, lgtm, approved

#949 linux-bridge, Add shasum check in linux-bridge pod
  data/linux-bridge/002-linux-bridge.yaml
  hack/components/bump-linux-bridge.sh
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/S, dco-signoff: yes, lgtm, approved

#959 tests/e2e/lifecycle, Remove unsupported versions
  README.md
  automation/check-patch.e2e-lifecycle-k8s.sh
  test/releases/0.18.0.go
  test/releases/0.23.0.go
  test/releases/0.27.7.go
  test/releases/0.39.3.go
Labels: release-note, size/L, dco-signoff: yes, lgtm, approved

#951 Set max unavailable of bridge CNI to 10%
  data/linux-bridge/002-linux-bridge.yaml
Labels: release-note, size/XS, dco-signoff: yes, lgtm, approved

#963 Release 0.58.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.58.0/cluster-network-addons-operator.0.58.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.58.0/namespace.yaml
  manifests/cluster-network-addons/0.58.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.58.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.58.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.58.0.go
  version/description
  version/version.go
Labels: size/XXL, release-note, dco-signoff: yes, lgtm, approved

#972 Release 0.44.6
  Makefile
  README.md
  manifests/cluster-network-addons/0.44.6/cluster-network-addons-operator.0.44.6.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.44.6/namespace.yaml
  manifests/cluster-network-addons/0.44.6/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.44.6/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.44.6/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.44.6.go
  version/description
  version/version.go
Labels: size/XXL, release-note, dco-signoff: yes, lgtm, approved

#969 components, Follow kubemacpool stable branch release-v0.31
  components.yaml
Labels: lgtm, approved

#985 components: Update CNI Bridge with macspoofchk source
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#987 Release 0.53.7
  Makefile
  README.md
  manifests/cluster-network-addons/0.53.7/cluster-network-addons-operator.0.53.7.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.53.7/namespace.yaml
  manifests/cluster-network-addons/0.53.7/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.53.7/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.53.7/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.53.7.go
  version/description
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#952 prometheus, Add rule for KubeMacPoolDuplicateMacsFound
  data/monitoring/prom-rule.yaml
  hack/prom-rule-ci/prom-rules-tests.yaml
Labels: size/M, release-note-none, dco-signoff: yes, lgtm, approved
