Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2021-12, with the labels that each got.

#1104 Release 0.63.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.63.0/cluster-network-addons-operator.0.63.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.63.0/namespace.yaml
  manifests/cluster-network-addons/0.63.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.63.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.63.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.63.0.go
  version/description
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1102 controller, labels:don't take managed-by from CR
  pkg/controller/networkaddonsconfig/networkaddonsconfig_controller.go
  pkg/controller/networkaddonsconfig/networkaddonsconfig_controller_test.go
Labels: size/M, release-note-none, dco-signoff: yes, lgtm, approved

#1114 Release 0.64.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.64.0/cluster-network-addons-operator.0.64.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.64.0/namespace.yaml
  manifests/cluster-network-addons/0.64.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.64.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.64.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.64.0.go
  version/description
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1103 language: Replace master with main/control-plane
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  automation/check-patch.e2e-nmstate-functests.sh
  pkg/apis/networkaddonsoperator/shared/networkaddonsconfig_types.go
  pkg/components/components.go
  pkg/network/placement_configuration.go
  pkg/network/placement_configuration_test.go
  test/e2e/lifecycle/deployment_test.go
  test/e2e/lifecycle/upgrade_test.go
  test/releases/releases.go
  tools/bumper/README.md
  tools/bumper/bumper.go
  tools/bumper/cnao_repo_commands_test.go
  tools/bumper/component_commands_test.go
  tools/bumper/git_fakes.go
Labels: size/L, release-note-none, dco-signoff: yes, lgtm, approved

#1097 Add common labels into alert definitions
  data/monitoring/prom-rule.yaml
  hack/prom-rule-ci/prom-rules-tests.yaml
Labels: release-note, size/S, dco-signoff: yes, lgtm, approved, ok-to-test

#1118 placement, infra: fallback to master node
  pkg/network/placement_configuration.go
Labels: release-note, size/M, dco-signoff: yes, lgtm, approved

#1119 Release 0.65.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.65.0/cluster-network-addons-operator.0.65.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.65.0/namespace.yaml
  manifests/cluster-network-addons/0.65.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.65.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.65.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.65.0.go
  version/description
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1121 Release 0.65.1
  Makefile
  README.md
  manifests/cluster-network-addons/0.65.1/cluster-network-addons-operator.0.65.1.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.65.1/namespace.yaml
  manifests/cluster-network-addons/0.65.1/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.65.1/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.65.1/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.65.1.go
  version/description
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1124 Add default linux OS nodeSelector to nmstate handlers
  pkg/network/nmstate.go
Labels: release-note, size/M, dco-signoff: yes, lgtm, approved
