Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2021-04, with the labels that each got.

#811 Use HCO cert rotation default values
  pkg/network/self_sign_configuration.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XS

#813 Use default at bad old self signed conf
  pkg/network/self_sign_configuration.go
  pkg/network/self_sign_configuration_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M

#814 Release 0.51.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.51.0/cluster-network-addons-operator.0.51.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.51.0/namespace.yaml
  manifests/cluster-network-addons/0.51.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.51.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.51.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.51.0.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XXL

#819 Correct the Dockerfile at yum update
  build/operator/Dockerfile
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#818 Bump kubemacpool to v0.24.0
  components.yaml
  data/kubemacpool/kubemacpool.yaml
  hack/components/bump-kubemacpool.sh
  pkg/components/components.go
  test/check/components.go
  test/e2e/workflow/deployment_test.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#823 kubevirt, Increase kubevirt deploy timeout
  hack/deploy-kubevirt.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#826 Release 0.52.0
  Makefile
  README.md
  automation/check-patch.e2e-bridge-marker-functests.sh
  manifests/cluster-network-addons/0.52.0/cluster-network-addons-operator.0.52.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.52.0/namespace.yaml
  manifests/cluster-network-addons/0.52.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.52.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.52.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.52.0.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XXL

#825 test/unit, update admissionregistration to v1 in merge_test.go
  pkg/apply/merge_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#830 Run autobumper every hour
  .github/workflows/component-bumper-master.yml
  .github/workflows/component-bumper-release-0.42.yml
  .github/workflows/component-bumper-release-0.44.yml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#834 Release 0.53.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.53.0/cluster-network-addons-operator.0.53.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.53.0/namespace.yaml
  manifests/cluster-network-addons/0.53.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.53.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.53.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.53.0.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XXL
