Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2021-11, with the labels that each got.

#1063 [release-0.58] status_manger, Reduce number of status update API calls
  pkg/controller/networkaddonsconfig/networkaddonsconfig_controller.go
  pkg/controller/networkaddonsconfig/pod_controller.go
  pkg/controller/statusmanager/status_manager.go
Labels: size/L, release-note-none, dco-signoff: yes, lgtm, approved

#1064 Add Networkmanager-ovs to support ovs configuration for nmstate
  cluster/up.sh
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1067 components, set macvtap as static to v0.5.1
  components.yaml
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1068 Revert "bump ovs-cni to v0.26.0 (#1065)"
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/S, dco-signoff: yes, lgtm, approved

#1071 [release-0.58] components, change ovs-cni update-policy to static
  components.yaml
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1073 Release 0.61.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.61.0/cluster-network-addons-operator.0.61.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.61.0/namespace.yaml
  manifests/cluster-network-addons/0.61.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.61.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.61.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.61.0.go
  version/description
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1077 cluster, cluster.sh: add kubeconfig for external
  cluster/cluster.sh
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1087 Release 0.62.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.62.0/cluster-network-addons-operator.0.62.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.62.0/namespace.yaml
  manifests/cluster-network-addons/0.62.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.62.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.62.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.62.0.go
  version/description
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1088 Release 0.58.4
  Makefile
  README.md
  manifests/cluster-network-addons/0.58.4/cluster-network-addons-operator.0.58.4.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.58.4/namespace.yaml
  manifests/cluster-network-addons/0.58.4/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.58.4/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.58.4/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.58.4.go
  version/description
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1089 Release 0.53.9
  Makefile
  README.md
  manifests/cluster-network-addons/0.53.9/cluster-network-addons-operator.0.53.9.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.53.9/namespace.yaml
  manifests/cluster-network-addons/0.53.9/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.53.9/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.53.9/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.53.9.go
  version/description
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1092 knmstate: Fix CRs path
  hack/components/bump-nmstate.sh
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1095 Release 0.53.10
  Makefile
  README.md
  manifests/cluster-network-addons/0.53.10/cluster-network-addons-operator.0.53.10.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.53.10/namespace.yaml
  manifests/cluster-network-addons/0.53.10/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.53.10/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.53.10/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.53.10.go
  version/description
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1096 Release 0.58.5
  Makefile
  README.md
  manifests/cluster-network-addons/0.58.5/cluster-network-addons-operator.0.58.5.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.58.5/namespace.yaml
  manifests/cluster-network-addons/0.58.5/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.58.5/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.58.5/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.58.5.go
  version/description
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1099 manager: Remove leader election
  cmd/manager/main.go
Labels: release-note, kind/enhancement, size/S, dco-signoff: yes, lgtm, approved
