Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2021-02, with the labels that each got.

#761 Release 0.46.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.46.0/cluster-network-addons-operator.0.46.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.46.0/namespace.yaml
  manifests/cluster-network-addons/0.46.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.46.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.46.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.46.0.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XXL

#772 Bump CNI plugins version
  components.yaml
  hack/components/bump-linux-bridge.sh
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#775 [release-0.44] bump ovs-cni to v0.18.0
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#776 Don't run etcd in memory by default
  cluster/cluster.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#774 [release-0.44] Bump CNI plugins version
  components.yaml
  hack/components/bump-linux-bridge.sh
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#779 Release 0.47.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.47.0/cluster-network-addons-operator.0.47.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.47.0/namespace.yaml
  manifests/cluster-network-addons/0.47.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.47.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.47.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.47.0.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XXL

#778 Release 0.44.3
  Makefile
  README.md
  manifests/cluster-network-addons/0.44.3/cluster-network-addons-operator.0.44.3.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.44.3/namespace.yaml
  manifests/cluster-network-addons/0.44.3/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.44.3/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.44.3/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.44.3.go
  version/description
  version/version.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XXL
