Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2021-09, with the labels that each got.

#955 monitoring, Adding a new alert KubemacpoolDown
  data/monitoring/prom-rule.yaml
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/controller/networkaddonsconfig/networkaddonsconfig_controller.go
  pkg/monitoring/metrics.go
  test/e2e/workflow/deployment_test.go
Labels: size/L, release-note-none, dco-signoff: yes, lgtm, approved

#1004 tests: remove OKD special configuration
  test/check/check.go
  test/e2e/workflow/deployment_test.go
  test/okd/okd.go
  test/releases/releases.go
Labels: size/M, release-note-none, dco-signoff: yes, lgtm, approved

#1003 monitoring, Collect readyGauge during reconcile
  pkg/controller/networkaddonsconfig/networkaddonsconfig_controller.go
  pkg/controller/statusmanager/status_manager.go
  pkg/monitoring/metrics.go
  test/e2e/workflow/deployment_test.go
Labels: size/M, release-note-none, dco-signoff: yes, lgtm, approved

#1005 manually bump knmstate to v0.53.0
  components.yaml
  data/nmstate/operand/nmstate.io_nodenetworkconfigurationenactments.yaml
  data/nmstate/operand/nmstate.io_nodenetworkconfigurationpolicies.yaml
  data/nmstate/operand/nmstate.io_nodenetworkstates.yaml
  data/nmstate/operand/operator.yaml
  hack/components/bump-nmstate.sh
  pkg/components/components.go
  pkg/controller/networkaddonsconfig/networkaddonsconfig_controller.go
  test/releases/99.0.0.go
Labels: size/M, release-note-none, dco-signoff: yes, lgtm, approved

#1010 Bump kubernetes-nmstate to v0.54.0
  components.yaml
  data/nmstate/operand/operator.yaml
  pkg/components/components.go
  pkg/network/nmstate.go
  test/releases/99.0.0.go
Labels: release-note, size/S, dco-signoff: yes, lgtm, approved

#1012 Release 0.59.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.59.0/cluster-network-addons-operator.0.59.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.59.0/namespace.yaml
  manifests/cluster-network-addons/0.59.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.59.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.59.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.59.0.go
  version/description
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1013 Change kubernetes-nmstate commit
  components.yaml
  data/nmstate/operand/operator.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note, size/S, dco-signoff: yes, lgtm, approved

#1017 Revert "Release 0.59.0 (#1012)"
  Makefile
  README.md
  manifests/cluster-network-addons/0.59.0/cluster-network-addons-operator.0.59.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.59.0/namespace.yaml
  manifests/cluster-network-addons/0.59.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.59.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.59.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.59.0.go
  version/description
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1016 components: Update CNI Bridge
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1020 Release 0.58.1
  Makefile
  README.md
  manifests/cluster-network-addons/0.58.1/cluster-network-addons-operator.0.58.1.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.58.1/namespace.yaml
  manifests/cluster-network-addons/0.58.1/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.58.1/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.58.1/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.58.1.go
  version/description
  version/version.go
Labels: size/XXL, release-note, dco-signoff: yes, lgtm, approved

#1019 Release 0.59.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.59.0/cluster-network-addons-operator.0.59.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.59.0/namespace.yaml
  manifests/cluster-network-addons/0.59.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.59.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.59.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.59.0.go
  version/description
  version/version.go
Labels: size/XXL, release-note, dco-signoff: yes, lgtm, approved

#1021 Revert "bump nmstate to v0.54.0 (#1014)"
  components.yaml
  data/nmstate/operand/nmstate.io_nodenetworkconfigurationenactments.yaml
  data/nmstate/operand/nmstate.io_nodenetworkconfigurationpolicies.yaml
  data/nmstate/operand/nmstate.io_nodenetworkstates.yaml
  data/nmstate/operand/operator.yaml
  hack/components/bump-nmstate.sh
  pkg/components/components.go
  pkg/network/nmstate.go
  test/releases/99.0.0.go
Labels: size/M, release-note-none, dco-signoff: yes, lgtm, approved

#1024 Release 0.58.2
  Makefile
  README.md
  manifests/cluster-network-addons/0.58.2/cluster-network-addons-operator.0.58.2.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.58.2/namespace.yaml
  manifests/cluster-network-addons/0.58.2/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.58.2/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.58.2/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.58.2.go
  version/description
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1030 [release-0.58] Pin knmstate to release branch 0.52
  components.yaml
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved
