Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2022-12, with the labels that each got.

#1470 multus-dynamic-networks: point to the k8snetworkplumbingwg org URL
  README.md
  components.yaml
  hack/components/bump-multus-dynamic-networks.sh
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note, size/S, dco-signoff: yes, lgtm, approved

#1475 ksd: Bump manually to v0.0.7
  automation/check-patch.e2e-kube-secondary-dns-functests.sh
  components.yaml
  hack/components/bump-kube-secondary-dns.sh
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/S, dco-signoff: yes, lgtm, approved

#1476 components: Remove double export
  automation/components-functests.setup.sh
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1485 Fix undeploy components
  pkg/network/network.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1489 ksd: Bump to v0.0.8
  components.yaml
  data/kube-secondary-dns/secondarydns.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/S, dco-signoff: yes, lgtm, approved

#1491 Update releases tested
  README.md
  automation/check-patch.e2e-lifecycle-k8s.sh
  test/releases/0.52.0.go
  test/releases/0.53.0.go
  test/releases/0.53.10.go
  test/releases/0.54.0.go
  test/releases/0.55.0.go
  test/releases/0.56.0.go
  test/releases/0.57.0.go
Labels: size/XL, release-note-none, dco-signoff: yes, lgtm, approved

#1492 ksd: Add Placement support
  data/kube-secondary-dns/secondarydns.yaml
  hack/components/bump-kube-secondary-dns.sh
  pkg/network/kube_secondary_dns_controller.go
  test/e2e/workflow/deployment_test.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved
