Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2022-10, with the labels that each got.

#1422 Bump OVS CNI to 0.29.1 and adapt to OVS CNI based on a single image
  components.yaml
  data/ovs/001-ovs-cni.yaml
  hack/components/bump-ovs-cni.sh
  pkg/components/components.go
  pkg/network/ovs.go
  test/releases/99.0.0.go
  tools/manifest-templator/manifest-templator.go
Labels: size/L, release-note-none, dco-signoff: yes, lgtm, approved

#1426 release-notes: Ping the tool to v0.13.0
  hack/render-release-notes.sh
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1432 Stop automatic bumps of components
  components.yaml
Labels: release-note-none, size/S, dco-signoff: yes, lgtm, approved

#1436 [main] Release v0.80.0
  Makefile
  README.md
  manifests/cluster-network-addons/0.80.0/cluster-network-addons-operator.0.80.0.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.80.0/namespace.yaml
  manifests/cluster-network-addons/0.80.0/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.80.0/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.80.0/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.80.0.go
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1438 stop using beta.kubernetes.io/arch
  pkg/network/placement_configuration.go
  pkg/network/placement_configuration_test.go
Labels: release-note, size/XS, dco-signoff: yes, lgtm, approved, ok-to-test

#1433 multus: bump to multus-v4 (thick plugin)
  automation/check-patch.e2e-multus-functests.sh
  components.yaml
  data/multus/001-multus.yaml
  hack/components/bump-multus.sh
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note, size/L, dco-signoff: yes, lgtm, approved
