Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2023-04, with the labels that each got.

#1525 kmp: Add placement to cert-manager
  data/kubemacpool/kubemacpool.yaml
  hack/components/bump-kubemacpool.sh
  test/check/check.go
  test/e2e/workflow/deployment_test.go
Labels: release-note, size/M, kind/bug, dco-signoff: yes, lgtm, approved

#1529 actions: Add release-0.85
  .github/workflows/prepare-version.yaml
Labels: do-not-merge/release-note-label-needed, dco-signoff: yes

#1537 Add cni plugins img maintainer info
  hack/components/bump-linux-bridge.sh
Labels: release-note, size/XS, dco-signoff: yes, lgtm, approved

#1535 Bump linux bridge CNI
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note, size/S, dco-signoff: yes, lgtm, approved

#1538 Bump linux bridge CNI (#1535)
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1534 multus: bump imgs to v4.0.1
  components.yaml
  data/multus/001-multus.yaml
  hack/components/bump-multus.sh
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note, size/M, dco-signoff: yes, lgtm, approved

#1542 operator-push: Fix script in case of external provider
  cluster/operator-push.sh
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1544 Bump linux bridge CNI
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note, size/XS, dco-signoff: yes, lgtm, approved

#1545 [release-0.85] Bump linux bridge CNI
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note, size/XS, dco-signoff: yes, lgtm, approved
