Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2023-11, with the labels that each got.

#1631 [release-0.89] bump kube-secondary-dns to v0.0.13
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1637 [release-0.89] components, kubemacpool: Follow release-0.41 stable branch
  components.yaml
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1633 [release-0.85] bump kube-secondary-dns to v0.0.13
  components.yaml
  hack/components/git-utils.sh
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/S, dco-signoff: yes, lgtm, approved

#1638 workflows, auto-bumper: Update supported stable branches
  .github/workflows/component-bumper.yaml
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1639 [release-0.89] components, ovs-cni: Follow release-0.31 stable branch
  components.yaml
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1640 [release-0.85] components, ovs-cni: Follow release-0.31 stable branch
  components.yaml
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1636 [release-0.85] components, Kubemacpool: Follow release-0.40 stable branch
  components.yaml
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1645 [release-0.65] components, ovs-cni: Follow release-0.26 stable branch
  components.yaml
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1649 [release-0.76] cluster-up: Fix cluster-up flow
  cluster/up.sh
  hack/components/git-utils.sh
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1644 [release-0.76] components, ovs-cni: Follow release-0.26 stable branch
  components.yaml
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1656 [release-0.89] components: Bump multus-dynamic-networks to v0.3.0
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1659 [release-0.85] components: Bump bridge-marker to 0.11.0
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1655 [release-0.85] components: Bump multus-dynamic-networks to v0.3.0
  components.yaml
  data/multus-dynamic-networks-controller/000-controller.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/S, dco-signoff: yes, lgtm, approved

#1660 [release-0.79] components: Bump bridge-marker to 0.11.0
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1658 [release-0.89] components: Bump bridge-marker to 0.11.0
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1675 [release-0.89] components: Bump multus-dynamic-networks to v0.3.1
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1676 feat: add snyk file to exclude vendor folders
  .snyk
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1642 test/e2e/lifecycle: Update to only supported versions
  README.md
  automation/check-patch.e2e-lifecycle-k8s.sh
  manifests/cluster-network-addons/0.79.2/cluster-network-addons-operator.0.79.2.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.79.2/namespace.yaml
  manifests/cluster-network-addons/0.79.2/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.79.2/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.79.2/operator.yaml
  manifests/cluster-network-addons/0.85.1/cluster-network-addons-operator.0.85.1.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.85.1/namespace.yaml
  manifests/cluster-network-addons/0.85.1/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.85.1/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.85.1/operator.yaml
  manifests/cluster-network-addons/0.85.2/cluster-network-addons-operator.0.85.2.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.85.2/namespace.yaml
  manifests/cluster-network-addons/0.85.2/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.85.2/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.85.2/operator.yaml
  manifests/cluster-network-addons/0.85.3/cluster-network-addons-operator.0.85.3.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.85.3/namespace.yaml
  manifests/cluster-network-addons/0.85.3/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.85.3/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.85.3/operator.yaml
  test/releases/0.65.0.go
  test/releases/0.65.1.go
  test/releases/0.65.10.go
  test/releases/0.65.2.go
  test/releases/0.65.6.go
  test/releases/0.66.0.go
  test/releases/0.67.0.go
  test/releases/0.68.0.go
  test/releases/0.69.0.go
  test/releases/0.70.0.go
  test/releases/0.71.0.go
  test/releases/0.72.0.go
  test/releases/0.73.0.go
  test/releases/0.75.0.go
  test/releases/0.79.2.go
  test/releases/0.85.1.go
  test/releases/0.85.2.go
  test/releases/0.85.3.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1682 [release-0.85] Update coredns container and image SHAs
  hack/components/bump-kube-secondary-dns.sh
  pkg/components/components.go
  test/releases/0.83.0.go
  test/releases/0.83.1.go
  test/releases/0.84.0.go
  test/releases/0.85.0.go
  test/releases/0.85.1.go
  test/releases/0.85.2.go
  test/releases/0.85.3.go
  test/releases/99.0.0.go
Labels: release-note-none, size/S, dco-signoff: yes, lgtm, approved

#1692 automation/release.sh: Temporarily disable release script
  automation/release.sh
Labels: release-note-none, size/XS, dco-signoff: yes

#1694 Revert "automation/release.sh: Temporarily disable release script"
  automation/release.sh
Labels: do-not-merge/release-note-label-needed, size/XS, dco-signoff: no, lgtm

#1693 ovs: Skip flaky ovs-mirror tests
  automation/check-patch.e2e-ovs-cni-functests.sh
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1700 ovs: Skip flaky ovs-mirror tests
  automation/check-patch.e2e-ovs-cni-functests.sh
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1701 [release-0.89] automation/release.sh: Temporarily disable release script
  automation/release.sh
Labels: release-note-none, size/XS, dco-signoff: yes

#1702 [release-0.89] Revert "[release-0.89] Release v0.89.1"
  Makefile
  README.md
  manifests/cluster-network-addons/0.89.1/cluster-network-addons-operator.0.89.1.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.89.1/namespace.yaml
  manifests/cluster-network-addons/0.89.1/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.89.1/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.89.1/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.89.1.go
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved

#1703 [release-0.89] Revert "[release-0.89] automation/release.sh: Temporarily disable release script"
  automation/release.sh
Labels: do-not-merge/release-note-label-needed, size/XS, dco-signoff: yes

#1713 CVE-2023-27561: Bump github.com/opencontainers/runc
  go.mod
  go.sum
  vendor/modules.txt
Labels: release-note-none, size/S, dco-signoff: yes, lgtm, approved

#1714 [release-0.89] CVE-2023-27561: Bump github.com/opencontainers/runc
  go.mod
  go.sum
  vendor/modules.txt
Labels: release-note-none, size/S, dco-signoff: yes, lgtm, approved

#1715 [release-0.85] CVE-2023-27561: Bump github.com/opencontainers/runc
  go.mod
  go.sum
  vendor/modules.txt
Labels: release-note-none, size/S, dco-signoff: yes, lgtm, approved

#1716 [release-0.79] CVE-2023-27561: Bump github.com/opencontainers/runc
  go.mod
  go.sum
  vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  vendor/github.com/moby/sys/mountinfo/mounted_unix.go
  vendor/github.com/moby/sys/mountinfo/mountinfo.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_bsd.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_linux.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_unsupported.go
  vendor/modules.txt
Labels: size/M, release-note-none, dco-signoff: yes, lgtm, approved

#1720 [release-0.79] CWE-22: Bump github.com/cyphar/filepath-securejoin
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/modules.txt
Labels: size/M, release-note-none, dco-signoff: yes, lgtm, approved

#1717 CWE-22: Bump github.com/cyphar/filepath-securejoin
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/modules.txt
Labels: size/M, release-note-none, dco-signoff: yes, lgtm, approved

#1718 [release-0.89] CWE-22: Bump github.com/cyphar/filepath-securejoin
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/modules.txt
Labels: size/M, release-note-none, dco-signoff: yes, lgtm, approved

#1719 [release-0.85] CWE-22: Bump github.com/cyphar/filepath-securejoin
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/modules.txt
Labels: size/M, release-note-none, dco-signoff: yes, lgtm, approved

#1730 [release-0.85] bump multus-dynamic-networks to v0.3.2
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1619 Refactor metrics monitoring code
  cmd/manager/main.go
  docs/metrics.md
  go.mod
  go.sum
  pkg/controller/networkaddonsconfig/networkaddonsconfig_controller.go
  pkg/monitoring/metrics.go
  pkg/monitoring/metrics/metrics.go
  pkg/monitoring/metrics/operator_metrics.go
  pkg/monitoring/monitoring.go
  tools/metrics-parser/metrics_parser.go
  tools/metricsdocs/metricsdocs.go
  tools/metricsdocs/metricsdocs_suite_test.go
  tools/metricsdocs/metricsdocs_test.go
  tools/prom-metrics-collector/metrics_collector.go
  tools/prom-metrics-collector/metrics_json_generator.go
  vendor/github.com/machadovilaca/operator-observability/LICENSE
  vendor/github.com/machadovilaca/operator-observability/pkg/docs/alerts.go
  vendor/github.com/machadovilaca/operator-observability/pkg/docs/metrics.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/collector.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/counter.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/counter_vec.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/gauge.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/gauge_vec.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/histogram.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/histogram_vec.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/metric.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/registry.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/summary.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/summary_vec.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/wrapper_registry.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatorrules/prometheusrules.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatorrules/rbac.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatorrules/recordingrule.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatorrules/registry.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatorrules/schema.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/LICENSE
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/alertmanager_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/doc.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/podmonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/probe_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheus_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheusrule_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/servicemonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: size/XXL, release-note, dco-signoff: yes, lgtm, approved

#1743 [release-0.79] Bump bridge-marker to 0.11.1
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1741 [release-0.89] Bump bridge-marker to 0.11.1
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1742 [release-0.85] Bump bridge-marker to 0.11.1
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1749 [release-0.85] Release v0.85.5
  Makefile
  README.md
  automation/check-patch.e2e-lifecycle-k8s.sh
  manifests/cluster-network-addons/0.85.5/cluster-network-addons-operator.0.85.5.clusterserviceversion.yaml
  manifests/cluster-network-addons/0.85.5/namespace.yaml
  manifests/cluster-network-addons/0.85.5/network-addons-config-example.cr.yaml
  manifests/cluster-network-addons/0.85.5/network-addons-config.crd.yaml
  manifests/cluster-network-addons/0.85.5/operator.yaml
  manifests/cluster-network-addons/cluster-network-addons.package.yaml
  test/releases/0.58.0.go
  test/releases/0.59.0.go
  test/releases/0.60.0.go
  test/releases/0.61.0.go
  test/releases/0.62.0.go
  test/releases/0.63.0.go
  test/releases/0.64.0.go
  test/releases/0.65.0.go
  test/releases/0.65.1.go
  test/releases/0.65.2.go
  test/releases/0.66.0.go
  test/releases/0.67.0.go
  test/releases/0.68.0.go
  test/releases/0.69.0.go
  test/releases/0.85.5.go
  version/version.go
Labels: size/XXL, release-note-none, dco-signoff: yes, lgtm, approved
