Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2023-05, with the labels that each got.

#1551 kubemacpool: Bump to v0.41.0
  automation/check-patch.e2e-kubemacpool-functests.sh
  components.yaml
  data/kubemacpool/kubemacpool.yaml
  hack/components/bump-kubemacpool.sh
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note, size/L, dco-signoff: yes, lgtm, approved

#1553 KSD: Bump to v0.0.11
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/S, dco-signoff: yes, lgtm, approved

#1555 rbac: Add missing verb
  pkg/components/components.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1563 tests: Fix expected CoreDNS image
  automation/check-patch.e2e-lifecycle-k8s.sh
  hack/components/bump-kube-secondary-dns.sh
  test/releases/0.83.0.go
  test/releases/0.83.1.go
  test/releases/0.84.0.go
  test/releases/0.85.0.go
  test/releases/99.0.0.go
Labels: release-note-none, size/S, dco-signoff: yes, lgtm, approved
