Repository kubevirt/cluster-network-addons-operator, pull requests merged in 2024-12, with the labels that each got.

#1945 Update workflow to use Ubuntu 22.04
  .github/workflows/kubevirt-ipam-controller.yaml
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1927 Enable support for multiple platforms in the Linux Bridge CNI.
  hack/build-operator-podman.sh
  hack/components/bump-linux-bridge.sh
Labels: size/M, release-note-none, dco-signoff: yes, lgtm, approved

#1954 Bump ipam to v0.1.9-alpha and enable managed tap
  automation/check-patch.e2e-kubevirt-ipam-controller-functests.sh
  components.yaml
  data/kubevirt-ipam-controller/001-kubevirtipamcontroller.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: size/M, release-note-none, dco-signoff: yes, lgtm, approved

#1955 Remove non-existent package msbuild from latest ubuntu images.
  .github/workflows/kubevirt-ipam-controller.yaml
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1956 Set PLATFORMS to "all" for multi-platform image support in release pr…
  automation/release.sh
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved

#1961 components/multus-dynamic-networks: Pin to v0.3.4
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/S, dco-signoff: yes, lgtm, approved

#1963 [release-0.97] components/multus-dynamic-networks: Pin to v0.3.4
  components.yaml
  pkg/components/components.go
  test/releases/99.0.0.go
Labels: release-note-none, size/XS, dco-signoff: yes, lgtm, approved
